.footer{
    background-color: rgb(51, 51, 51) !important;
}
.bladeChaos{
    position: relative;
    top: 45px;
    left: 880px;
    width: 330px;
    rotate: -43deg;
}
.bladeChaos2{
    position: absolute;
    top: 700px;
    left: 900px;
    rotate: 43deg;
    transform: scaleX(-1);
    width: 330px;
}
.elden{
    display: block;
    border-width: 4px;
    border-style: solid!important;
    height: 150%;
    width: 150%;
    margin: 2px;
    border-color: #0b0b0e!important;
}
* {box-sizing: border-box}

.eldenBox {
    position: relative;
    width: 50%;
    max-width: 300px;
}
.overlay {
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 40%;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    padding: 15px;
    margin: 2px;
}
.eldenBox:hover .overlay {
    opacity: 1;
}
#linkInWelcome{
    outline-color: #0864ed;
    outline-style: outset;
    width: max-content;
    padding: 4px 4px !important;
    display: block;
}
.block{
    margin: 5px;
}
.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: -260px;
    background-color: rgb(90, 90, 90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 200;
}
.sidebar a {
    padding: 10px 15px;
    font-size: 24px;
    color: #000000;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.close-btn {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#buttonAsideMenu{
    z-index: 100!important;
    position: relative;
}
.main-content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 16px;
}
.sidebar.open {
    left: 0;
}
.main-content.shift {
    margin-left: 260px;
}
a:-webkit-any-link {
    text-decoration: none!important;
}
td:hover,th:hover {background-color: #1f1f1f!important;
}
